@import "../../common/scss/base.scss";

.com-like {
  display: block;
  width: 80px;
  height: 80px;
  padding: 9px;

  &:after {
    content: '';
    display: block;
    width: 62px;
    height: 62px;
    background: url(img/like.png) 0 0 no-repeat;
    background-size: contain;
  }

  &.liked:after {
    background-image: url(img/liked.png);
  }
}
